    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script> -->
    {load href="__STATIC__/jquery/jquery.min.js"}
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    {load href="__STATIC__/bootstrap/js/bootstrap.min.js"}


    {load href="__STATIC__/wangEditer/js/wangEditor.min.js"}

    <script type="text/javascript">
    $(function () {
        //初始化富文本编辑器
        var _public_content = $('public_content');
        if(_public_content.attr('id') != undefined)
        {
            //发布文章初始化富文本插件
            var editor = new wangEditor('public_content');
            editor.create();
        }
        
            
    

    	//用户提交
    	$(function(){
    		$('.reg_btn').click(function(){
    			$.ajax({
    				type: 'post',
    				url: "{:url('index/user/add')}",
    				data: $(".reg_form").serialize(),
    				success: function(data){
    					if(data.status)
    					{
    						$('.err_tips').html(data.msg);
    						setTimeout(function(){
    							window.location.href = "{:url('index/user/login')}";
    						},1000);
    					}
    					else
    					{
    						$('.err_tips').html(data.msg);
    					}
    				}
    			});
    		});
    	});

        //用户登录
        $('.login_btn').click(function(){
            $.ajax({
                type : 'POST',
                url : "{:url('index/user/doLogin')}",
                data : $('.login_form').serialize(),
                dataType : 'json',
                success : function(data)
                {
                    console.log(data);
                    if(data.status)
                    {
                        $('.err_tips').html(data.msg);
                        setTimeout(function(){
                            window.location.href = "{:url('index/user/index')}";
                        },1000);
                    }
                    else
                    {
                        $('.err_tips').html(data.msg);
                    }
                }
          });
        });

        //用户收藏
        $('.fav_btn').click(function(){
            var _uid = $(this).attr('uid');
            var _document_id = $(this).attr('document_id');

            var _self = $(this);

            //用户登陆的请款下进行收藏/取消收藏的操作
            if(_uid && _document_id)
            {
                $.post(
                    "{:url('index/index/fav')}",
                    {
                        uid:_uid,
                        document_id:_document_id,
                        time:new Date().getTime()
                    },
                    function(msg)
                    {
                        if(msg.status)
                        {   
                            if(msg.type==1)
                            {
                                _self.text('已收藏');
                                _self.attr('class','btn btn-info fav_btn');
                            }
                            else
                            {
                                 _self.text('收藏');
                                _self.attr('class','btn btn-default fav_btn');
                            }
                           
                        }
                        else
                        {
                            alert(msg.msg);
                        }
                    });
                
            }

        });

        //发表评论
        $('.submit_commit').click(function(){
            var doc_id = $(".commit_form").find('input[name="document_id"]').val();
            $.ajax({
                type: 'post',
                url: "{:url('index/index/add_commit')}",
                data: $(".commit_form").serialize(),
                success: function(data){
                    if(data.status == 1)
                    {
                        $('.err_tips').html(data.msg);
                        //更新评论的列表
                        loadCommentList(doc_id);
                    }
                    else
                    {
                        $('.err_tips').html(data.msg);
                    }
                }
            });
        });

    });



    </script>
  </body>
</html>