    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script> -->
    {load href="__STATIC__/jquery/jquery.min.js"}
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    {load href="__STATIC__/bootstrap/js/bootstrap.min.js"}
    <script type="text/javascript">
    	//用户提交
    	$(function(){
    		$('.reg_btn').click(function(){
    			$.ajax({
    				type: 'post',
    				url: "{:url('index/user/add')}",
    				data: $(".reg_form").serialize(),
    				success: function(data){
    					if(data.status)
    					{
    						$('.err_tips').html(data.msg);
    						setTimeout(function(){
    							window.location.href = "{:url('index/user/login')}";
    						},1000);
    					}
    					else
    					{
    						$('.err_tips').html(data.msg);
    					}
    				}
    			});
    		});
    	});

        //用户登录
        $('.login_btn').click(function(){
            $.ajax({
                type : 'POST',
                url : "{:url('index/user/doLogin')}",
                data : $('.login_form').serialize(),
                dataType : 'json',
                success : function(data)
                {
                    console.log(data);
                    if(data.status)
                    {
                        $('.err_tips').html(data.msg);
                        setTimeout(function(){
                            window.location.href = "{:url('index/user/index')}";
                        },1000);
                    }
                    else
                    {
                        $('.err_tips').html(data.msg);
                    }
                }
          });
        });
    </script>
  </body>
</html>